@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
#home {
  background-image : url("./assets/page1.png")
}
